{
  "root": true,
  "env": {
    "browser": true,
    "es2021": true,
    "node": true
  },
  "extends": [
    "eslint:recommended",
    "plugin:vue/vue3-recommended",
    "@vue/typescript/recommended"
  ],
  "parser": "vue-eslint-parser",
  "settings": {
    "import/resolver": {
      "typescript": {
        "alwaysTryTypes": true
      }
    }
  },
  "parserOptions": {
    "parser": "@typescript-eslint/parser",
    "ecmaVersion": 2021
  },
  "rules": {
    "object-curly-spacing": [
      "error",
      "always"
    ],
    "max-len": [
      "error",
      {
        "code": 120
      }
    ],
    "comma-dangle": [
      "error",
      "always-multiline"
    ],
    "no-undef": "off",
    "no-debugger": "off",
    "no-unused-vars": [
      "error",
      {
        "varsIgnorePattern": "props",
        "argsIgnorePattern": "^(_|e)"
      }
    ],
    "@typescript-eslint/no-unused-vars": [
      "error",
      {
        "varsIgnorePattern": "props|enum",
        "argsIgnorePattern": "^(_|e)"
      }
    ],
    "semi": [
      "error",
      "always",
      {
        "omitLastInOneLineBlock": true
      }
    ],
    "quotes": [
      "error",
      "single"
    ],
    "vue/multi-word-component-names": "off"
  }
}
